{% extends "base/base.html" %}
{% block title %}Hello World{% endblock %}
{% block content %}
<link rel="stylesheet" href="static/iconfont/iconfont.css">
<!--<script src="static/iconfont/iconfont.js"></script>-->
<script src="//at.alicdn.com/t/font_cfbzqxsr6kcsor.js"></script>
<script src="static/js/homepage.js"></script>
<style type="text/css">
    .icon {
      /* 通过设置 font-size 来改变图标大小 */
      width: 5em; height: 5em;
      /* 图标和文字相邻时，垂直对齐 */
      vertical-align: -0.15em;
      /* 通过设置 color 来改变 SVG 的颜色/fill */
      fill: currentColor;
      /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
         normalize.css 中也包含这行 */
      overflow: hidden;
    }

</style>

<body>
    <div class="container">
        <table class="table table-striped">
            <thead style="background-color: #dedef8;">
                <tr>
                    <td>Project/Content</td>
                    <td>Description</td>
                    <td>Entries</td>
                    <td>Skills</td>
                    <td>Started</td>
                    <td>End</td>
                    <td>Cost</td>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td><a href="https://www.freelancer.com/projects/elearning-designer/Design-develop-eLearning-course/">Design &amp; develop an eLearning course</a></td>

                    <td>Need a team experienced with designing and developing eLearning courses on Articulate Storyline 360

    If you are not a team or doesn't know this tool then avoid bidding on this project please</td>

                    <td>9</td>

                    <td><a class="hiddenlink" href="https://www.freelancer.com/jobs/eLearning/">eLearning</a>, <a class="hiddenlink" href="https://www.freelancer.com/jobs/adobe-captivate/">Adobe Captivate</a>, <a class="hiddenlink" href="https://www.freelancer.com/jobs/elearning-designer/">eLearning Designer</a>, <a class="hiddenlink" href="https://www.freelancer.com/jobs/storyboard/">Storyboard</a></td>

                    <td>Jul 10, 2017</td>

                    <td>Jul 10, 2017<small class="ends-soon">11h 31m</small></td>

                    <td>$4352</td>

                </tr>
            </tbody>
        </table>

    </div>>

</body>

{% endblock %}